.report__content {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.report__card {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid var(--color-dark);
    border-radius: 0.5rem;
    background-color: var(--color-1);
    padding-inline: 1rem;
    padding-block: 0.5rem;
    width: 100%;
}

.report__card i {
    color: var(--color-dark);
    font-size: 1.5rem;
}

.report__card__content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    * {
        margin: 0;
        color: var(--color-dark);
    }
}

.report__card__content button {
    transition: background-color 0.2s ease;
    border-radius: 9999px;
    background-color: hsl(from var(--color-dark) h s l / 0.05);
    padding-inline: 1.5rem;

    &:hover {
        background-color: hsl(from var(--color-accent) h s l / 0.05);
    }
}
