.card_products {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    border: 1px solid var(--color-dark);
    border-radius: 0.5rem;
    background-color: var(--color-1);
    padding: 1.5rem;
    width: 18.75rem;
}

.card_products:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card_products__image {
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card_products__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card_products__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_products__price span {
    color: var(--color-dark);
    font-size: 1.2rem;
}

.card_products__price span:first-child {
    font-weight: 500;
}
.card_products__price span:last-child {
    font-weight: bold;
}

.card_products__title {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.card_products__title h3 {
    margin: 0;
    color: var(--color-dark);
    font-weight: bold;
    font-size: 1.2rem;
    text-align: start;
}

.card_products__title button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    background-color: var(--color-dark);
    padding: 0.5rem;
    color: var(--color-light);
    font-weight: 600;
    font-size: 1rem;
}
