/* FORM COMMENTS */
.comment {
    display: flex;
    gap: 1rem;
    border: 1px solid var(--color-dark);
    border-radius: 0.75rem;
    background-color: var(--color-1);
    padding: 1.75rem 1.625rem;
}

.comment__avatar {
    width: 40px;
}

.comment__avatar span {
    display: block;
    border-radius: 50%;
    background-color: var(--color-dark);
    aspect-ratio: 1/1;
    width: 40px;
}

.comment__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 0.375rem;
}

.comment__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment__header span {
    font-weight: 600;
}

.comment__header {
    color: var(--color-dark);
    font-size: 0.5rem;
}

.comment__header div {
    display: flex;
    gap: 10px;
}

.comment__header .verfied__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--color-dark);
    border-radius: 100px;
    padding: 0.25rem 0.5rem;
    color: var(--color-dark);
    font-weight: 500;
    font-size: 0.75rem;
}

.comment__header .verfied__badge i {
    color: var(--color-dark);
    font-size: 0.6rem;
}

.comment__header span,
.comment__description {
    margin: 0;
    color: var(--color-dark);
    text-align: start;
}
