/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    background-color: var(--color-dark-alt);
    width: 100%;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}

.footer__links {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid var(--color-light);
    padding-block: 48px;
    width: 100%;
}

.footer__links section h6 {
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 20px;
}

.footer__links section ul {
    padding: 0;
    list-style: none;
}

.footer__links section ul li {
    margin-bottom: 20px;
}

.footer__links section a {
    color: white;
    text-decoration: none;
}

.footer__links section {
    width: 100%;
}

.footer__copyright {
    height: 48px;
}

@media (max-width: 768px) {
    .footer {
        padding: 1.25rem;
        text-align: center;
    }

    .footer__links {
        flex-wrap: wrap;
    }
}
