.navbar {
  background-color: transparent;
  padding: 5rem;
  height: 8.75rem;
}

.navbar-brand {
  --bs-navbar-brand-color: var(--color-accent);
  --bs-navbar-brand-font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand:hover {
  --bs-navbar-brand-hover-color: var(--color-accent);
}

.nav-link {
  --bs-link-color-rgb: var(--color-accent);
  --bs-navbar-active-color: var(--color-accent);
  --bs-nav-link-color: var(--color-light);
  --bs-nav-link-font-size: 1.375rem;
  --bs-nav-link-font-weight: 500;
  --bs-nav-link-hover-color: var(--color-accent);
}

.nav-button.nav-link {
  --bs-nav-link-padding-y: 0.4rem;
  --bs-nav-link-padding-x: 2rem;
  --bs-nav-link-color: var(--color-accent);
  border-radius: 0.5rem;
  background-color: hsl(from var(--color-accent) h s l / 0.2);
}

.nav-link i {
  color: var(--bs-nav-link-color);
}

.navbar-toggler {
  --bs-navbar-color: var(--color-accent);
  background-color: hsl(from var(--color-accent) h s l / 0.2) !important;
  color: var(--color-accent) !important;
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+PHBhdGggc3Ryb2tlPSIjY2Y1ZDUzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMiIvPjwvc3ZnPg==);
  --bs-navbar-color: var(--color-accent);
}

.offcanvas {
  --bs-offcanvas-bg: var(--color-dark);
  --bs-offcanvas-width: 300px;
  --bs-offcanvas-height: 100vh;
  --bs-offcanvas-padding-x: 1.5rem;
  --bs-offcanvas-padding-y: 1.5rem;
  --bs-offcanvas-color: var(--color-dark);
  flex-direction: row !important;
  justify-content: space-between;
}

.offcanvas .navbar-nav:first-child {
  flex-grow: 1;
  justify-content: center;
  gap: 3.42rem;
}

.offcanvas .navbar-nav:last-child {
  gap: 1rem;
}

@media screen and (max-width: 1200px) {
  .offcanvas {
    --bs-offcanvas-width: 300px;
    --bs-body-bg: var(--color-dark);
    --bs-offcanvas-height: 100vh;
    --bs-offcanvas-padding-x: 1.5rem;
    --bs-offcanvas-padding-y: 1.5rem;
    --bs-offcanvas-color: var(--color-dark);

    display: flex;
    flex-direction: column !important;
    justify-content: start;
    padding: 1.25rem;
  }

  .offcanvas.offcanvas-end {
    --bs-offcanvas-width: 300px;
  }

  .offcanvas .navbar-nav:first-child {
    flex-grow: 0;
    gap: 1.25rem;
  }

  .offcanvas .navbar-nav:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
  }
}
