.nb-canvas {
    background-color: var(--color-dark);
}

.nb-canvas ul {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0;
    list-style: none;
}

.nb-canvas ul li a {
    color: var(--color-light);
    font-size: 1.25rem;
    text-decoration: none;
}

.nb-canvas ul li.active a {
    color: var(--color-accent);
}

.nb-canvas__actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--color-accent);
}

.nb-canvas__actions a {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    transition: background 0.2s ease-out;
    border: 1px solid var(--color-accent);
    border-radius: 0.5rem;
    background-color: hsl(from var(--color-accent) h s l / 0.2);
    padding: 0.5rem 0.8rem;
    width: 100%;
    height: 50px;
    color: var(--color-accent);
    text-decoration: none;
}

.nb-canvas__actions i {
    color: var(--color-accent);
}
