.scroll-top {
    display: flex;
    position: fixed;
    right: 0.75rem;
    bottom: 1.5rem;
    justify-content: center;
    align-items: center;
    z-index: 1400;
    cursor: pointer;
    border: 1px solid var(--color-light);
    border-radius: 999px;
    background-color: var(--color-dark);
    width: 60px;
    height: 60px;
    color: var(--color-accent);
}

@media screen and (max-width: 600px) {
    .scroll-top {
        right: 0.75rem;
        bottom: 1.25rem;
    }
}
