.tabs-nav {
    display: flex;
    justify-content: center;
    gap: 2.25rem;
    border-bottom: 1px solid var(--color-dark);
    width: 100%;
}

.tabs-nav .nav-link {
    position: relative;
    color: var(--color-dark);
    font-weight: 600;
    font-size: 1.5rem;
}

.tabs-nav .nav-link:hover {
    color: hsl(from var(--color-dark) h s l / 0.9);
}

.tabs-nav .nav-link.active {
    color: var(--color-dark);
}

.tabs-nav .nav-link::after {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
    background: var(--color-dark);
    width: 0%;
    height: 0.35rem;
    content: "";
}

.tabs-nav .nav-link.active::after {
    width: 80%;
}

.tab-pane {
    transform: translateY(10px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.tab-pane.active.show {
    transform: translateY(0);
    opacity: 1;
}

.tabs-content {
    margin-top: 2.8rem;
}
