.perfil_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-dark-alt);
    border-radius: 0.5rem;
    background-color: var(--color-1);
    padding: 1.57rem;
}

.perfil_input__title {
    margin: 0;
    color: var(--color-dark);
    font-weight: 600;
    font-size: 1.125rem;
}

.perfil_input__value {
    margin: 0;
    color: var(--color-dark);
    font-size: 1rem;
}

.perfil_input__input {
    transition: border-color 0.2s ease;
    outline: none;
    border: 1px solid var(--color-dark);
    border-radius: 100px;
    background-color: 1var (--color-light);
    padding: 0.4rem 0.8rem;
    color: var(--color-dark);
}

.perfil__content__data__item-input:focus {
    border-color: var(--color-dark);
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
    .perfil_input {
        flex-direction: column;
        gap: 0.5rem;
    }
}
