.perfil__content__data__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-dark-alt);
    border-radius: 0.5rem;
    background-color: var(--color-1);
    padding: 1.57rem;
}

.perfil__content__data__item-title {
    margin: 0;
    color: var(--color-dark);
    font-weight: 600;
    font-size: 1.125rem;
}

.perfil__content__data__item-value {
    margin: 0;
    color: var(--color-dark);
    font-size: 1rem;
}
