.modal__title {
    color: var(--color-dark) !important;
}

.form__branch {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex__group {
    display: flex;
    gap: 1rem;
}

.flex__group div {
    flex-grow: 1;
}

.form__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.form__actions button {
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-dark-alt);
    padding: 0.5rem 1.25rem;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px) {
    .form__actions {
        flex-direction: column-reverse;
    }

    .flex__group {
        flex-direction: column;
    }
}
