.custom_input {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.custom_input__label {
    color: var(--color-dark);
    font-weight: 500;
    font-size: 1rem;
}

.custom_input__input {
    border: 1px solid var(--color-dark);
    border-radius: 0.25rem;
    padding: 0.625rem 1rem;
    color: var(--color-dark);
}

.custom_input__input::placeholder {
    color: hsl(from var(--color-dark) h s l / 0.6);
}

.custom_input__input option {
    color: var(--color-dark);
}
