.dheader {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.625rem;
    width: 100%;
    height: 50px;
}

.dheader__title {
    overflow: hidden;
    color: var(--color-dark);
    font-weight: bold;
    font-size: 1.125rem;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}

.dheader__actions {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.625rem;
}

.dheader__actions i {
    color: var(--color-dark);
    font-size: 1.8rem;
}

.popoper__notifications {
    transition: background 0.2s ease-out;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    padding-block: 0.5rem;
}

.popoper__notifications:hover {
    background-color: hsl(from var(--color-dark) h s l / 0.25);
}

.notifications__title span {
    color: var(--color-dark);
    font-weight: 600;
}

.dheader__perfil {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    gap: 0.5rem;
    transition: background 0.2s ease-out;
    border-radius: 0.5rem;
    background-color: transparent;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-decoration: none;
    white-space: nowrap;
}

.dheader__perfil:hover {
    background-color: hsl(from var(--color-dark) h s l / 0.25);
}

.dheader__perfil span {
    display: block;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--color-dark);
    aspect-ratio: 1 / 1;
    width: 40px;
}

.dheader__perfil p {
    margin: 0;
    overflow: hidden;
    color: var(--color-dark);
    font-size: 0.9rem;
    text-overflow: ellipsis;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
    .dheader {
        gap: 0.5rem;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        height: auto;
    }

    .dheader__title {
        font-size: 1rem;
    }

    .dheader__actions {
        gap: 0.5rem;
    }

    .dheader__actions i {
        font-size: 1.5rem;
    }

    .dheader__perfil {
        gap: 0.4rem;
        padding-inline: 0.75rem;
    }

    .dheader__perfil span {
        width: 35px;
    }

    .dheader__perfil p {
        max-width: 120px;
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 600px) {
    .dheader {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
        padding-inline: 0.75rem;
        height: auto;
    }

    .dheader__actions {
        justify-content: space-between;
        width: 100%;
    }

    .popoper__notifications {
        padding: 0.25rem;
    }

    .dheader__perfil {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.35rem;
        padding: 0.35rem 0.75rem;
        width: auto;
    }

    .dheader__perfil span {
        width: 30px;
    }

    .dheader__perfil p {
        max-width: 100px;
        font-size: 0.8rem;
    }
}
