.aboutus {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.aboutus__card {
    display: flex;
    gap: 4.05rem;
}

.aboutus__card__header {
    margin: auto;
}

.aboutus__card__header h4 {
    color: var(--color-dark);
    font-weight: bold;
    font-size: 1.25rem;
    font-family: "Sansita Swashed", cursive;
}

.aboutus__card__header p {
    color: var(--color-dark);
}

.aboutus__card__image {
    width: 150%;
}

.aboutus__card__image img {
    width: 100%;
    height: 100%;
}

/* ONLY FOR CONTACT - SHOW IN REVIEWS.CSS */
.form__content-actions2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form__content-actions2 div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form__content-actions2 div span {
    color: var(--color-dark);
    font-weight: 600;
}

.form__content-actions2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: none;
    border-radius: 100px;
    background-color: var(--color-dark);
    padding: 0.625rem 1.25rem;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px) {
    .aboutus__card {
        flex-direction: column;
    }

    .aboutus__card__image {
        width: 80%;
    }
}
