/* LOGIN Y REGISTER */
.main__auth__hero {
  background-image: url("/assets/Hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.content_forms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

/* FORM LOGIN */
.form {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 25px;
  backdrop-filter: blur(13px);
  padding: 35px 62px;
  overflow: hidden;
  text-align: center;
}

.form__bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.06;
  z-index: -1;
  background-color: white;
  width: 100%;
  height: 100%;
}

.form__header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
}

.form__header h2 {
  font-weight: bold;
  letter-spacing: 0.05rem;
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
  text-decoration: none;
}

.form__content__requisitos {
  text-align: left;
}

.form__content__forgot {
  color: white;
  text-decoration: none;
}

.form__content__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__content__inputs input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-light);
  background: none;
  height: 40px;
  color: var(--color-light);
}

.form__content__inputs input::placeholder {
  opacity: 0.8;
  transition: opacity 0.2s ease;
  color: var(--color-light);
}

.form__content__inputs input:focus::placeholder {
  opacity: 0;
}

.form__content__actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* BUTTONS */
.btn-filled {
  transition: background 0.2s ease;
  border: none;
  background-color: var(--color-accent);
  height: 40px;
  color: var(--color-light);
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.btn-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease;
  border: 1px solid var(--color-accent);
  background: none;
  height: 40px;
  color: var(--color-accent);
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.btn-filled:hover {
  background-color: hsl(from var(--color-accent) h s l / 0.8);
}

.btn-outline:hover {
  background-color: hsl(from var(--color-accent) h s l / 0.3);
}

/* Reponsive Design */
@media screen and (max-width: 500px) {
  .form {
    margin: 0 20px;
    width: 100%;
  }
}
