.menus__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.menus__search-input {
    gap: 0.5rem;
    width: 100%;
}

.menus__search-input label {
    color: var(--color-dark);
    font-weight: 600;
}

.menus__search-input input {
    border: 1px solid var(--color-dark);
    border-radius: 1.125rem;
    background-color: var(--color-1);
    padding: 0.5rem 1rem;
    width: 100%;
    color: var(--color-dark);
}

.menus__search-input input::placeholder {
    color: hsl(from var(--color-dark) h s l / 0.8);
}
