.perfil__content__data__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1.25rem;
}

.perfil__content__data__actions .btn-filled {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    padding: 0.8rem 2.5rem;
    color: var(--color-light);
    font-weight: 600;
    letter-spacing: 0.125rem;
    text-decoration: none;

    &:hover {
        background-color: hsl(from var(--color-dark) h s l / 0.95);
    }
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
    .perfil__content__data__actions {
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        margin-top: 20px;
        width: 100%;
    }

    .perfil__content__data__actions .btn-filled {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .perfil__content__data__actions .btn-filled {
        padding-inline: 0.5rem;
    }
}
