.reviews {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.reviews__form {
    display: flex;
    gap: 1rem;
    border: 1px solid var(--color-dark);
    border-radius: 0.75rem;
    padding: 1.75rem 1.625rem;
}

.form__avatar {
    width: 40px;
}

.form__avatar span {
    display: block;
    border-radius: 50%;
    background-color: var(--color-dark);
    aspect-ratio: 1/1;
    width: 100%;
}

.form__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 1.5rem;
}

.form__content-section {
    display: flex;
    gap: 1.5rem;
}
.form__content-section .input {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    width: 100%;
}

.form__content-section .input label {
    color: var(--color-dark);
    font-weight: 600;
}

.form__content-section .input input {
    border: 1px solid var(--color-dark);
    border-radius: 1.125rem;
    background-color: var(--color-1);
    padding: 0.5rem 1rem;
    width: 100%;
    color: var(--color-dark);
}

.form__content-section .input input::placeholder {
    color: hsl(from var(--color-dark) h s l / 0.8);
}

.form__content textarea {
    border: 1px solid var(--color-dark);
    border-radius: 1.125rem;
    background-color: var(--color-1);
    padding: 0.5rem 1rem;
    width: 100%;
    min-height: 150px;
    color: var(--color-dark);
    field-sizing: content;
    resize: none;
}

.form__content textarea::placeholder {
    color: var(--color-dark);
}

.form__content-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__content-actions div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form__content-actions div span {
    color: var(--color-dark);
    font-weight: 600;
}

.form__content-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: none;
    border-radius: 100px;
    background-color: var(--color-dark);
    padding: 0.625rem 1.25rem;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px) {
    .reviews__form {
        margin-inline: 20px;
    }

    .reviews {
        padding: 1.75rem 1.625rem;
    }

    /* Form Content */
    .form__content-section {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    /* Form Content */
    .reviews__form {
        margin-inline: 20px;
    }

    .form__avatar {
        display: none;
    }

    .form__content-actions {
        flex-direction: column;
    }

    .form__content-actions button {
        margin-top: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .form__content-actions div:first-child {
        flex-direction: column;
    }
}
