@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300..900&display=swap");

:root {
    --color-accent: #cf5d53;
    --color-dark: #2d2323;
    --color-dark-alt: #3d2c2c;
    --color-light: #ffffff;
    --color-1: #fcf8f3;
    --color-2: #f8f9fa;
}

* {
    color: var(--color-light);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body {
    color: var(--color-dark);
    --bs-link-color-rgb: var(--color-dark);
    overflow: auto;
}

.root-default {
    background-color: var(--color-dark);
    height: 100vh;
}

.root-auth {
    background-image: url("/assets/Hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.layout__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page-fade {
    animation: page-fade-in 0.25s ease-in-out;
}

@keyframes page-fade-in {
    from {
        transform: translateY(4px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Layouts Repeats */
.wrapper {
    background-color: var(--color-light);
}

.wrapper__container {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    padding: 5.625rem 0;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.wrapper__title {
    color: var(--color-dark);
    font-weight: 600;
    font-size: 4rem;
    font-family: "Sansita Swashed", cursive;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
    .wrapper__title {
        font-size: 3rem;
        line-height: 1.1;
    }
}
